@page "/processes"

@using BlazorApp.Data
@using System.Diagnostics
@inject ProcessService ProcessService

<h1>Processes</h1>

<p>This component displays a list of system processes.</p>

@if (processes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Process Name</th>
                <th>Physical Memory</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var process in processes)
            {
                <tr>
                    <td><a href="process/@process.Id">@process.Id</a></td>
                    <td>@FormatName(process)</td>
                    <td>@process.WorkingSet64</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private System.Diagnostics.Process[] processes;

    protected override async Task OnInitializedAsync()
    {
        processes = await ProcessService.GetProcessesAsync();
    }

    private string FormatName(System.Diagnostics.Process process)
    {
        string name;
        const int maxLength = 30;
        try
        {
            name = process.MainModule.ModuleName;
        }
        catch
        {
            name = process.ProcessName;
        }
        if (name.Length > maxLength)
        {
            name = name.Substring(0, maxLength) + "...";
        }
        return name;
    }
}
